* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

body {
    background-color: #fff;

}

#top {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #b7463c;
    color: #fff;
}

#top h1 {
    display: inline-block;
    font-size: 48px;
}

#top nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#top nav ul {
    list-style-type: none;
}

#top nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
  }  

.project {
    margin: 20px;
    text-align: center;
    border-style: solid;
    border-width: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 400px;
    width: 400px;
   
  }

  
  #p1 {
    background-image: url("./images/Horiseon.png"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-size: cover;
    background-blend-mode: overlay;
    width: 1720px;
  }

  .p-title {
      display: block;
      color: white;
      margin-top: 10%;
      font-size: 35px;
  }


  footer {
    position: relative;
    background: #b7463c;
    bottom: 0px;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #bio {
      background-color: #F1F1F1;
      height: auto;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      justify-content: center;
      }

  #bio img {
      position: relative;
      max-width: 600px;
      max-height: 600px;
      padding: 60px;
      border-radius: 90%;
  }

  #bio h2 {
      font-size: 50px;
  }

  #bio-container {
      display: block;
  }


  #bio-columns {
      display: grid;
      grid-auto-columns: 1fr;
      column-gap: 64px;
      row-gap: 48px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
  }

    #bio-img {
        margin: auto;
    }

    #bio-text {
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    #bio p {
        padding-top: 50px;
        padding-right: 80px;
    }

    @media only screen and (max-width: 1100px) {
        #bio-text {
            display: none;
        }
        #bio-columns {
            display:flex;
            margin: auto;
        }
    }

    #linkedin-button {
      position: relative;
      background-color: #3B3B3E;
      display: block;
      margin: auto;

    }
    
    #linkedin-button img {
        max-width: 100px;
        padding: 10px;
        position: relative;
        display: block;
        justify-content: center;
        margin: auto;
    }
